.container-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  auto;
    max-width: 1020px;
}

.container-contacts h1 {
    margin: 75px auto 200px;
    font-size: 64px;
    line-height: 87px;
    font-weight: 700;
    color: #FF0000;
}
.container-contacts  p{
    font-size: 35px;
    line-height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formRow{
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.formRow img{
    height: 450px;
    margin-bottom: 124px;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input, .form button, textarea{
    border: none;
    width: 535px;    
    background: #D9D9D9; 
    border-radius: 47.5px;
    font-size: 25px;
    line-height: 34px;   
    padding-left: 35px;
    padding-right: 35px;
}
.form input, .form button {
    height: 95px; 
}
.form input[type=text]{
    color: #000000;

}
.form input[type=email]{
    margin: 29px 0;    
}
.form textarea{
    height: 331px;
    padding-top: 25px;
    resize: none;
}
.form button{

    background: #FF4F4F;
    margin-top: 30px;
    margin-bottom: 55px;
    padding-left: 0;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.contact-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 657px;
    margin: 70px 20px 42px 0;
}   
.contact-media img{
    height: 253px;
}   
.contact-media .mediaIcons svg{
    height: 65px;
    width: 65px;
}
.contact-map img {
    margin-top: 55px;
    margin-bottom: 90px;
    height: 592px;
    max-width: 952px;
    border-radius: 37px;
}

@media (max-width: 1080px){

    .formRow{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .contact-map img {
        margin-top: 55px;
        margin-bottom: 90px;
        height: initial;
        max-width: 100%;

    }
    .contact-media{
        flex-direction: column;
        gap: 50px;
        width: 100%;
        margin: 70px 20px 42px 0;

    }   

}
@media (max-width: 660px){
    .form input, .form button, textarea{
        width: 100%;
    }
    .container-contacts h1 {
        margin: 35px auto 100px;
        font-size: 30px;

    }
}